[submodule "services/auth-service"]
	path = services/auth-service
	url = https://github.com/ijas9118/micronotes-auth-service/
[submodule "services/user-service"]
	path = services/user-service
	url = https://github.com/ijas9118/micronotes-user-service
[submodule "services/notes-service"]
	path = services/notes-service
	url = https://github.com/ijas9118/micronotes-notes-service
[submodule "services/api-gateway"]
	path = services/api-gateway
	url = https://github.com/ijas9118/micronotes-api-gateway
[submodule "client"]
	path = client
	url = https://github.com/ijas9118/micronotes-client
